
.menuicon-:before { content: '\e800'; } /* '' */
.carticon-:before { content: '\e801'; } /* '' */
.hearticon-:before { content: '\e802'; } /* '' */
.adulticon-:before { content: '\e803'; } /* '' */
.heart-1icon-:before { content: '\e804'; } /* '' */
.facebookicon-:before { content: '\e805'; } /* '' */
.login-1icon-:before { content: '\f02c'; } /* '' */
.logouticon-:before { content: '\f02d'; } /* '' */
.user-1icon-:before { content: '\f061'; } /* '' */
.youtubeicon-:before { content: '\f167'; } /* '' */
.instagramicon-:before { content: '\f16d'; } /* '' */
