/***************
* ALLGEMEINE LAYOUT *
****************/

html{
    height: 100%;
}
html,body{
    margin: 0;
    padding: 0;
    
}

html{
    background-color: whitesmoke;
    font-family: cursive;
}

a, a:visited{
    color: white;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}


/************
* KOPFBEREICH *
*************/
header, footer{
    background-color: #0EA5FD;
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    padding: 1rem;
    
    
}
header img{
    width: 4rem;
    height: 4rem;
}
h1{
    font-size: 400%;
    margin: 0px;
    color: white;
}

header .brandname{
    display: flex;
    align-items: baseline;
    
}

.nav{
    display: flex;
    flex-direction: row;
    font-size: 120%;
    
}
.nav_Menue{
    justify-content: start;
    width: 50%;
}
.nav_Items{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    width: 50%;
}

@media  screen and (max-width:60rem){
    .hideIfSmall {
        width:0;
        font-size:0;
    }

    header img{
        width: 2rem;
        height: 2rem;
    }
    
    h1{
        font-size: 200%;
    }
   
}

/*************
    * BODY *
    *************/
main{
    margin-left: 1rem;
}

.bodyHeader{
    color: #0EA5FD;
    font-size: 250%;
}

.Container_for_Products{

    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}


.produkt{
    
    background-color: white;
    border-style: outset;
    
    width: 220px;
    height: 220px;
    border-radius: 20px;
    
    
    
}

.produktImageSmall{
    width:auto;
    height:110px;
    background-color:yellow;
    margin: 0;

    border-radius: 20px 20px 0 0;
}

.produktTitle{
    width:auto;
    height:70px;
    background-color: green;
}

.produktActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    gap:1rem;

    width: auto;
    height: 40px;
    
    
}
.produktActions>a{
    
    text-decoration: none;
    font-size: 150%;

    text-align: center;
    padding-right: 0.5rem;

    
   
    -webkit-appearance: button;
    border-radius: 50%;
    background-color:  #0EA5FD;
}
.produktActions>a:hover{
box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5) ;
}

.produktActions> .hearticon-{
    margin:0.1rem;
    padding-left: 0.3em;
    
}

.produktActions> .carticon-{
    margin:0.1rem;
    padding-left: 0.2em;
}

@media screen and (max-width:30rem) {
    main{
        margin: 1rem;
    }
    .Container_for_Products{
        display: flex;
        flex-direction: column;
    }
    
    .produkt{
        width: auto;
        min-height: 220px;
    }

    
}

@media screen and (min-width:30rem) {
    main{
        margin: 1rem;
    }
    .Container_for_Products{
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .produkt{
        width: 220px;
        min-height: 220px;
    }

    
    
}

/**************
* FOOTBEREICH*
**************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-top: 1rem;
    gap:1rem;
}

footer h3{
    margin-bottom: 2px;
}

footer .divisionLayout{
    
    align-items: start;
}

footer ul{
    list-style: none;
    padding: 0;
    margin-top: 2px;
    
    display: flex;
    flex-direction: column;
 
}

@media screen and (max-width:30rem) {
    
    footer{
        display: flex;
        flex-direction: column;
        
        
    }

    footer .divisionLayout{
        width: 100%;
    }

    
}

