/***************
* ALLGEMEINE LAYOUT *
*********/

.hidden{
    display: none;
}
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
    height: 100%;
}
html,body{
    margin: 0;
    padding: 0;
    
}

html{
    background-color: rgb(231,254,255);
    font-family: cursive;
}

a, a:visited{
    color: white;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

.bodyHeader{
    color: #0EA5FD;
    font-size: 250%;
    margin-bottom: 1rem;
}


/*************
    * BODY *
    *************/
main{
    margin-left: 1rem;
}


@media screen and (max-width:30rem) {
    main{
        margin: 1rem;
    }
    .bodyHeader{
        color: #0EA5FD;
        font-size: 120%;
        margin-bottom: 1rem;
    }
    
}

@media screen and (min-width:30rem) {
    main{
        margin: 2rem;
    }
    
}


