#productsContainer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: auto;
    padding: 0;
}

.produkt{
        
    background-color: white;
    border-style: outset;
    
    width: 100%;
    height: 220px;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin-bottom: 0.5em;
    
    
}

.produktImageSmall{
    width:auto;
    height:130px;
    
    margin: 0;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.produktImageSmall > img{
    position: center;
    height: 130px;
    width: 100%;
}

.produktTitle{
    width:auto;
    height:50px;
    border-top: 1px solid lightgrey;
}